
.actionScriptProperties

.flexProperties

.project

*.prefs

bin-debug/iTweakTeacher-app.xml

bin-debug/iTweakTeacher.swf

bin-debug/icons/114.png

bin-debug/icons/128.png

bin-debug/icons/16.png

bin-debug/icons/29.png

bin-debug/icons/32.png

bin-debug/icons/36.png

bin-debug/icons/48.png

bin-debug/icons/512.png

bin-debug/icons/57.png

bin-debug/icons/72.png

iTweakTeacher.apk

iTweakTeacher.ipa

src/locale/en_US/resources.properties

bin-debug/locale/en_US/resources.properties.example

iTweakTeacherSigny.apk
